.notebookMain
{
    width: 116px;
    height: 188px;
    float: left;
    margin: 10px 15px 10px 15px;
    border-radius: 2px;
    border: solid #dcdcdc 1px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.notebookMain > img {
    height: 100%;
    width: 100%;
}

.text
{
    writing-mode: vertical-rl;
}

.notebookMain > .action {
    border: 1px dotted black;
    min-height: 22px;
    min-width: 22px;
    text-align: center;
    display: none;
}

.notebookMain > .delete {
    float: right;
}

.notebookMain > .modify {
    float: left;
}